.title-slate {
	margin: 0px;
    transition: transform 2.2s ease;
    transform: translateX(0vw);
    position: absolute;
    width: fit-content;
}
.markerline {
	margin: 0px;
	padding: 0px;
	width: 4px;
	background-color: #444444;
	opacity: 0;
	transition: opacity 2s ease;
}
.ml-top {
	margin-bottom: 0px;
	height: 50px;
}
.ml-bot {
	height: 100px;
}
.ml-label {
	width: fit-content;
	margin-top:  5px;
	margin-bottom: 0px;
	padding-left: 15px;
	opacity: 0;
	transition: opacity 2s ease;
}
.ml-desc {
	width: fit-content;
	margin-top: -1vh;
	padding-left: 15px;
	font-size: 2vh;
	font-family: Palanquin, sans-serif;
	opacity: 0;
	transition: opacity 2s ease;
}

#scroller {
	transition: transform 1.5s ease;
}
#title-panel {
	background-image: url('../img/back.png');
	text-align: center;
	padding-top: 0px;
}
#title-graphics {
	margin-top: 0px;
	margin-bottom: -70vh;
	height: 100vh;
	overflow: hidden;
}
#tgraph-cerise, #tgraph-outer-belt {
	width: 100vw;
	height: 100vh;
	transition: transform 2.2s ease, opacity 2.2s ease;
	display: block;
}
#tgraph-cerise {
	transform: translateX(-70vw);
	opacity: 0;
	margin-bottom: -100vh;
}
#tgraph-outer-belt {
	transform: translateX(70vw);
	opacity: 0;
}
#title-text {
	transform: translateX(0vw);
	font-size: 15vh;
	font-family: 'Palanquin', sans-serif;
}
#title-subtext {
	margin-top: -4vh;
	font-size: 5vh;
	font-family: 'Alegreya Sans SC', sans-serif;
}
#title-loading {
	font-size: 3vh;
	padding-top: 5vh;
}
#tload-text {
	margin-top: -5vh;
	opacity: 1;
}
/*title loading cinder*/
#tlc-slate {
	margin-left: 50vw;
}
#tlcs-ml-top {
	margin-top: 0px;
}
#tlcs-ml-bot {
	margin-top: calc(40px + 4vh);
	margin-bottom: calc(-120px - 4vh); 
}
#tload-cinder {
	width: 4vh;
	height: 4vh;
	animation: rotate 10s infinite linear;
	float: left;
	margin-left: calc(-2vh + 2px);
}
#tlcs-label {
	
}
#tlcs-desc {
	
}
/*title loading vershenna*/
#tlv-slate {
	margin-left: 50vw;
}
#tlvs-ml-top {
	margin-top: -2vh;
}
#tlvs-ml-bot {
	margin-top: calc(40px + 8vh);
	margin-bottom: calc(-120px - 8vh);
}
#tload-vershenna {
	width: 8vh;
	height: 8vh;
	animation: rotate 2.5s infinite linear;
	float: left;
	margin-left: calc(-4vh + 2px);
}
#tlvs-label {
	
}
#tlvs-desc {
	
}
/*title loading romyshlen*/
#tlr-slate{
	margin-left: 50vw;
}
#tlrs-ml-top {
	margin-top: -4vh;
}
#tlrs-ml-bot {
	margin-top: calc(40px + 12vh);
	margin-bottom: calc(-120px - 12vh);
}
#tload-romyshlen {
	width: 12vh;
	height: 12vh;
	animation: rotate 20s infinite linear;
	float: left;
	margin-left: calc(-6vh + 2px);
}
#tlrs-label {
	
}
#tlrs-desc {
	
}
/*title arrow*/
#title-arrow {
	margin-top: 30vh;
}
#tarrow-down {
	opacity: 0;
	transition: opacity 2s ease-in;
	animation: bounce 4s infinite linear;
}

/*menu panel*/
#menu-panel {
	background-image: url('../img/darkgradientback.png');
	text-align: center;
	padding-top: 0px;
}
#menu-title {
	text-align: left;
	margin-left: 4vw;
	height: 8vh;
}
#mt-text {
	
}
#menu-slate-main {
	height: 90vh;
	
}
#msm-background {
	opacity: 0.6;
	background-color: #000000;
	height: 100%;
	margin-bottom: -90vh;
	display: flex;
	flex-direction: column;
	padding-left: 7vw;
	padding-right: 7vw;
}
#msm-text {
	color: #dddddd;
	padding-top: 1vh;
	text-align: left;
}
#msm-linkbox {
	
}
#msml-slate-lore {
	background-image: url("../img/tsevaya-pravitiko-gray.png");
}
#msml-slate-tsevaya {
	background-image: url("../img/tsevaya-pravitiko-blue.png");
	
}
#msml-slate-cinder {
	background-image: url("../img/tsevaya-pravitiko-red.png");
}